$orange:#f68e5f;
$bleueClair : #ebfcfb;

.photoMoi{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:30px;
  margin-top: 60px;
  img{
    margin-top: 10px;
    width:60%;
    border-radius: 20%;
  }
}

.presentation{
  width:80%;
  display:flex;
  flex-direction: column;
  text-align: center;
  margin:0 auto;
  font-size:1.5em;

  a{
    margin:0 auto;
    color:black;
    text-decoration: none;
    width:60%;
    background-color: $bleueClair;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
  }
}

.presentation>p{
  display:flex;
  flex-direction: column;
  line-height: 1.5;
  margin-bottom: 30px;
}



.presentation>p>span{
  color:$orange;
  text-transform: uppercase;
}